$color-white: #fff;
$color-dark: #090B0D;

$color-grey: #8C8C8C;
$color-grey-light: #BFBFBF;
$color-grey-lightest: #e3e3e3;

$color-primary: #F2CB05;
$color-primary-light: #FFEACF;


$color-secondary-dark: #5f1523; 
$color-secondary: #8C1F33;
$color-secondary-light: #8C1F33;