// FONT
$default-font-size: 1.6rem;
$default-line-height: 3rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;


//LAYOUT
$default-padding-horizontal: 2rem;


$default-margin-horizontal: $default-padding-horizontal;
$default-max-width: 1366px;


//COMPONENTS GLOBAL
$section-component-padding-top: 15rem;
$section-component-padding: 4rem;

