@import '../../styles/config';



.recipeGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 2rem;
      grid-auto-flow: dense;
      @include respond(phone){
            display: flex;
            flex-direction: column;
      }


      & > a {
            font-size: 1.2rem;
      }


      & > a:nth-child(4n) {
            grid-column: span 2;
            grid-row: span 2;
            font-size: 1.8rem;
          }
          
      & > a:nth-child(8n) {
            grid-column: span 3;
            grid-row: span 3;
            font-size: 2.3rem;
      }
          
}

.message{
      margin: 10rem auto;
      text-align: center;
}