@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:wght@300;400;500&display=swap');

body {
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 1.6rem;
      color: $color-dark;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 400;
      color: inherit;
}

p {
      line-height: $default-line-height;
      margin-bottom: 1rem;
      text-align: justify;
}

 